.about {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.about h1 {
  /* margin-top: 3rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6b17e;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  color: rgb(42, 94, 94);
}
.text {
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
  color: #c56e33;
  text-align: justify;
  margin-right: 50px;
}

@media (max-width: 1000px) {
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0;
  }
}