.card {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
  will-change: transform;
  background-color: #e6b17e;
  color: #C56E33;
  margin: 2rem;
}
.card:hover {
  box-shadow: 0px 30px 100px -10px rgb(42, 94, 94);
  cursor: pointer;
}
.image {
  border-radius: 10px;
  width: 50%;
  height: auto;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #c56e33;
  display: inline-block;
}
.link {
  background-color: #C56E33;
  color: #e6b17e;
  border: none;
  border-radius: 5px;
  margin-top: auto;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  bottom: 10px;
  position: relative;
}
.link:hover {
  background-color: rgb(42, 94, 94);
  color: #C56E33;
}

