.card {
  width: 90%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.5s;
  will-change: transform;
  background-color: #e6b17e;
  color: #C56E33;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 4rem;
}
.card:hover {
  box-shadow: 0px 50px 100px -10px rgb(42, 94, 94);
  cursor: pointer;
}
.image {
  border-radius: 10px;
  width: 50%;
  height: auto;
  margin: 5px;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #c56e33;
  display: inline-block;
}
.link {
  background-color: #C56E33;
  color: #e6b17e;
  border: none;
  border-radius: 10px;
  margin-top: auto;
  padding: 5px 8px;
  align-content: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  bottom: 5px;
}
.link:hover {
  background-color: rgb(6, 8, 8);
  color: #C56E33;
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column-reverse;
    margin: 2rem auto;
  }
  .image {
    width: 90%;
    height: 50%;
    margin: 15px;
    border-radius: 10px;
  }
  .content {
    width: 100%;
  }
}