.footer {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  padding: 20px;
  font-family: Georgia, serif;
  background: linear-gradient(to bottom, #000000, rgb(22, 24, 24));
}
.by {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6b17e;
  margin: 20px;
}
.p {
  color: #e6b17e;
  margin-left: 10px;
  font-size: 30px;
}

@media (max-width: 1000px) and (min-width: 280px){
  .footer {
    flex-wrap: wrap;
    gap: 10px;
  }
  .by {
    flex-direction: column;
    text-align: center;
  }
  .p {
    margin: 10px 0;
    font-size: 20px;
    color: rgb(42, 94, 94);;
  }
}