.projects h1{
    color: #e6b17e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: rgb(42, 94, 94)
}

@media (max-width: 1000px) {
    .projects h1 {
        margin-top: 0;
    }
}
